
/** {
    font-family: 'Alegreya', serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-family: 'Cardo', serif;
} */

* {
    margin: 0;
    padding: 0;
    font-family: "Goudy Bookletter 1911", "Times New Roman", sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    background-color: rgb(154, 201, 154);
  }

  * a {
    text-decoration: none;
    color: black;

  }

  html {
      font-size: 20px;
      width: 100%;
      min-width: 300px;
      max-width: 768px;
  }

  @media only screen and (min-width: 768.1px) {
      html {
          max-width: 992px;
          min-width: 768.2px;
      }
  }

  @media only screen and (min-width: 992.2px) {
      html {
          min-width: 992px;
          max-width: none;
      }
  }

 body {
     display: inherit;
     height: 4000px;
 }

 /* Header Area */

 header {
     width: 100%;
     background-color: rgb(17, 83, 17);
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 3px solid red;
     border-radius: 3px;
 }

 header .header-title {
     text-align: left;
     margin-left: 5px;
     line-height: .9;
     font-size: .8rem;
     color: rgb(255, 198, 92);
     padding: 1rem 0;
 }

 header .header-title h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
 }

 @media only screen and (min-width: 768.1px) {
     header .header-title{
         font-size: 1rem;
     }

     header ul a {
        font-size: 1.1rem;
     }
}

@media only screen and (min-width: 992.2px) {
    header .header-title {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    header ul a {
        font-size: 1.3rem;
    }
}



 header .title-bottom {
     margin-left: .6rem;
 }

 header ul {
     text-align: right;
 }

 header #logo {
     display: none;
 }

 header * {
     background-color: inherit;
 }

 /* Nav Links */
header ul {
    display: flex;
    justify-content: space-between;
}

header a {
    color: rgb(255, 198, 92);
    text-decoration: none;
    margin: 0 .3rem;
    padding: .1rem;
    border-radius: 2px;
    font-size: .8rem;
    font-style: bold;
}

header a:hover {
    text-decoration: underline;
    color: orange;
    margin-bottom: 10px;
}



/* Hero Area */

.hero-picture {
    text-align: center;
    display: flex;
    margin-bottom: 50px;
    margin-top: 1rem;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url("./hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
}

.hero-picture h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    align-self: center;
    color: white;
    padding: 1rem .5rem;
    border-radius: 3px;
    background: transparent;
    line-height: 1;
    margin-top: -10rem;
}

@media only screen and (min-width: 992.2px) {
    .hero-picture h2 {
        font-size: 4rem;
    }

    .hero-picture p {
        font-size: 1.3rem;
    }
}

.hero-picture p {
    background:  transparent;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    width: 75%;
}

/*Portfolio */
.portfolio {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    font-size: 2rem;
    border-bottom: red solid 3px;
}

.portfolio-img-container {
    display: inherit;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.portfolio figure {
    margin: 1rem 0 
}

.portfolio img {
    width: 80%;
    text-align: center;
}

@media only screen and (min-width: 768.1px) {
    .portfolio img {
        width: 60%;
    }
}

.portfolio figure figcaption {
    font-family: 'Goudy Bookletter 1911' ;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: .25rem;
}

#see-more {
    font-size: 1.3rem;
}

#see-more:hover {
    text-decoration: underline;
    color: orange;
    background-color: rgb(17, 83, 17);
    border-radius: 3px;
    padding: .25rem .5rem;
}

/* About me section */

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
}

.about-me h2 {
    font-size: 2rem;
    border-bottom: red solid 3px;
}

.about-me figure {
    margin: 1rem 0;
}

.about-me img {
    width: 80%;
    text-align: center;
}

@media only screen and (min-width: 768.1px) {
    .about-me img {
        width: 60%;
    }
}

.about-me figure figcaption {
    font-family: 'Goudy Bookletter 1911' ;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.3rem;
    margin-bottom: .25rem;
}

/* Contact Info */

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 198, 92); 
    padding-bottom: 50px;
}

.contact-info h2 {
    font-size: 2rem;
    border-bottom: red solid 3px;
    background: transparent;
    margin-bottom: 1rem;
}

.contact-info-container {
    background: transparent;
}

.contact-info h3, .contact-info a {
    text-align: center;
    margin-top: .5rem;
    background: transparent;
}

#contact-nums {
    text-decoration: underline;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 198, 92); 
}

footer h3 {
    background-color: transparent;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1rem;
}